
{% extends "layout.html" %}
{% block content %}
    <div>
        <h1 style="text-align: center ;">
            Custom Admin Page for Ampalibe {{ version }} authored by {{ author }}
        </h1>
    </div>
{% endblock %}

